*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
}

header div{
    margin-right: 20px;
    font-weight: bold;
}

.profile-pic{
    height: 100%;
}

header img{
    height: 100%;
    border-radius: 50%;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.google{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    font-size: 100px;
    font-weight: bold;
}

.google .g, .g2{
    color: #083891;
}

.google .o, .e{
    color: #bd100a;
}

.google .o2{
    color: #b6b615;
}

.google .l{
    color: #008000;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa-input input{
    width: 90%;
    border: none;
    outline: none;
}

.pesquisa-input{
    display: flex;
    flex-direction: row;
    border: 1px solid #00000033;
    border-radius: 20px;
    width: 700px;
    padding: 10px;
    box-shadow: 0px 3px 6px;
}

.pesquisa-icon{
    margin-right: 20px;
}

.icon2{
    color: #083891;
}

.icon1{
    color: #999999;
}

.pesquisa-grupo-bt{
    display: flex;
    gap: 80px;
    
}

.pesquisa-botao{
    margin-top: 50px;
    padding: 10px;
    border: none;
}